<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <div>
    <a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">Archive</span></a>
    <a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">RSS</span></a>
  </div>
</footer>